body, html {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.borderlane{
    width: 100%;
    height: 10px;
    background-color: #9F72B9;
}

.section {
    height: 100%
}

@media only screen and (max-width: 767px) {
    /* phones */
    
    #home {
        height: 60%
    }

    .section {
        height: auto;
    }

    body,html {
        height:100%;
    }

    .aboutText {
        margin-bottom: 6%;
    }

    #who>.container>.row {
        padding-bottom: 6%;
    }

    .moreInfo {
        margin-bottom: 6%;
    }
}

/*NAVBAR*/

body>nav {
    background-color: #DCBBF2 !important;
    box-shadow: 0 4px 3px -3px gray;
    font-size: 18px;
    border: 0 !important;
}

.nav>li>a {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: white !important;
	font-weight: 300;
	font-size: 20px;
}

.nav>li>a:hover {
    color: #575773 !important;
}

.nav>li>a:active {
    color: #575773 !important;
}

/*HOME AREA*/

#home {
	background-image: url("../img/handsup.jpg");
    padding-top: 10%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
	text-align: center;
	background-color: rgba(46,39,53,.5);
    -webkit-backdrop-filter: saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
    padding-top: 4%;
	font-weight: 400;
	color: white;
}

.jumbotron .btn {
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid white;
    color: white;
    font-weight: 300;
    font-size: 18px;
    width: 100px;
}

.jumbotron .btn:hover {
	background-color: white;
    border: 1px solid white;
    color: #575773;
}

/*ABOUT AREA*/

#about{
    background-image: url("../img/screen.jpg");
    padding-top: 10%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutText{
    background-color: rgba(46,39,53,.5);
    -webkit-backdrop-filter: saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
    padding: 4%;
    font-size: 18px;
    font-weight: 200;
    color: white;
}

/*WHO AREA*/

#who{
    background-image: url("../img/bokeh.jpg");
    padding-top: 10%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageContainer{
    padding: 0;
}

.imageBox {
    background-color: rgba(46,39,53,.5);
    -webkit-backdrop-filter: saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
    padding: 12%;
    margin: 3px;
    font-size: 18px;
    font-weight: 200;
    color: white;
    text-align: center;
    max-height: 498px;
    overflow: hidden;
}

.imageBox>img{
    width: 100%;
}

.imageBox>h4 {
    margin-top: 28.5px;
}

/*WHERE AREA*/

#where {
    padding-top: 13%;
    color: #B7B6B5;
    background-color: #353822;
}

.map>iframe {
    height: 500px;
    width: 100%;
}

form>div {
    text-align: left
}

form>div>label {
    font-weight: 200 !important
}

.moreInfo {
    height: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
}

form>button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid white;
    color: white;
    font-weight: 300;
    font-size: 18px;
    width: 100px;
    height: 40px;
    margin-top: 5px;
}

form>button:hover {
    background-color: white;
    border: 1px solid white;
    color: #575773;
}


/*FOOTER*/

footer{
    color: #B7B6B5;
    background-color: #0D0908;
    overflow: hidden;
}

footer>.rightText{
    float: right;
}

footer>.rightText>a{
    text-decoration: none;
}